<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/user/stylesheets/FavoriteFood.css">
	<title>Hello, world!</title>
</head>
<body>
	<div class="container-fluid h-100">
		<div class="row h-100">
			<aside class="col-12 col-md-2 p-0 bg-dark sticky-top">
				<nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
					<div class="collapse navbar-collapse">
						<ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
							<li class="nav-item">
								<a class="nav-link pl-0 text-nowrap" href="/users"><i class="fa fa-bullseye fa-2x"></i> <span class="font-weight-bold">Brand</span></a>
							</li>
							<br>
							<li class="nav-item">
								<a class="nav-link pl-0" href="/users"><i class="fa fa-home fa-2x"></i> <span class="d-none d-md-inline">Trang chủ</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link pl-0" href="/users/previousOrder"><i class="fa fa-clock-o fa-2x"></i> <span class="d-none d-md-inline">Đơn hàng của tôi</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link pl-0" href="/users/favoriteFood"><i class="fa fa-heart fa-2x"></i> <span class="d-none d-md-inline">Thực đơn yêu thích</span></a>
							</li>
							<br>
							<li class="nav-item">
								<a class="nav-link pl-0" href="#"><i class="fa fa-sign-out fa-2x"></i> <span class="d-none d-md-inline">Đăng xuất</span></a>
							</li>
						</ul>
					</div>
				</nav>
			</aside>
			<main class="col bg-faded py-3" style="min-height: 650px">
				<div class="content container">
					<div class="greeting m-5">
						<h2 class="text-center font-weight-normal">Favorite Foods</h2>
					</div>




							<div class="cards row justify-content-center">
						<% if (data && data.favoriteFood){%>
							<% for(var i = 0; i < (data.favoriteFood.length / 2); i++) {%>
								<div class=" col-md-8 mb-4">
									<div class="card mt-4 d-md-table-cell align-middle">
										<div class="row no-gutters align-items-center">
											<div class="col-4">
												<img src="/static/user/imgs/foods/<%= data.favoriteFood[i * 2].f_url %>.jpg" class="card-img img-fluid" alt="...">
											</div>
											<div class="col-8">
												<div class="card-body">
													<div class="float-right">
														<i class="fa fa-heart fa-2x align-middle text-danger favorite" favoriteId="<%= data.favoriteFood[i * 2].f_id %>"></i>
														<i class="fa fa-heart-o fa-2x align-middle text-muted not-favorite" style="display: none;" foodId="<%= data.favoriteFood[i * 2].f_id %>"></i>
													</div>
													<h5 class="card-title"><%= data.favoriteFood[i * 2].f_name %></h5>
												</div>
											</div>
										</div>
									</div>
									<div class="d-table-cell" style="width: 2rem">
									</div>
									<% if (!((data.favoriteFood.length % 2 != 0) && (i == data.favoriteFood.length / 2 - 0.5 ))){%>
										<div class="card mt-4 d-md-table-cell align-middle">
											<div class="row no-gutters align-items-center">
												<div class="col-4">
													<img src="/static/user/imgs/foods/<%= data.favoriteFood[i * 2 +	1].f_url %>.jpg" class="card-img img-fluid" alt="...">
												</div>
												<div class="col-8">
													<div class="card-body">
														<div class="float-right">
															<i class="fa fa-heart fa-2x align-middle text-danger favorite" favoriteId="<%= data.favoriteFood[i * 2 + 1].f_id %>"></i>
															<i class="fa fa-heart-o fa-2x align-middle text-muted not-favorite" style="display: none;" foodId="<%= data.favoriteFood[i * 2 + 1].f_id %>"></i>
														</div>
														<h5 class="card-title"><%= data.favoriteFood[i * 2 +1].f_name %></h5>
													</div>
												</div>
											</div>
										</div>
									<%}%>
								</div>
							<%}%>
						<%}%>


					</div>
					<div class="footer">

					</div>
				</div>
			</main>
		</div>
	</div>




	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="/static/user/js/FavoriteFood.js"></script>
</body>
</html>
