<!doctype html>
<html lang="en">

<% include components/head %>

<body>
    <div class="container-fluid">
        <div class="row">
            <% include components/side-nav %>
            <div class="col-md-11 ">
                <% include components/header %>
                <div class="h5 mt-2">
                    Cập nhật đơn hàng
                </div>
                <div id = "alert" role="alert" class="text-center alert fixed-top"></div>
                <div class="main">
                    <div class="border">
                        <div class="info p-4 unselect">
                            <div class="h5">Mã đơn hàng: <%= bill[0].b_id %></div>
                            <div class="h5">Tên khách hàng: <%= bill[0].a_name %></div>
                            <div class="h5">Giới tính: <%= bill[0].a_gender %></div>
                            <div class="h5">SĐT: <%= bill[0].a_phone %></div>
                            <div class="h5">Ngày đặt hàng: <%= bill[0].b_created_at %></div>
                            <div class="h5">Phương thức thanh toán: <%= bill[0].b_payment_method %></div>
                            <div class="h5">Trạng thái đơn hàng: <%= bill[0].b_status %></div>
                        </div>
                        <div class="items">
                            <div class="table-item">
                                <% { %>
                                    <% var total = 0 %>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Tên món</th>
                                            <th scope="col">Kích cỡ</th>
                                            <th scope="col">Số lượng</th>
                                            <th scope="col">Đơn giá</th>
                                            <th scope="col">Thành tiền</th>
                                            <th scope="col">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% bill_detail.map((item, index) => { %>
                                            <% var sum = item.bd_quantity * item.f_price %>
                                        <tr class="unselect">
                                            <td><%= index + 1 %></td>
                                            <td><%= item.f_name %></td>
                                            <td><%= item.f_size %></td>
                                            <td class= "d-flex">
                                                <div class="quantity mr-2" id=<%= "quantity" + item.bd_id %>><%= item.bd_quantity %></div>
                                                <div class="sub" id=<%= item.bd_id %>>
                                                    <i class="fas fa-minus-circle fa-2x p-1 text-danger"></i>
                                                </div>
                                                <div class="plus" id=<%= item.bd_id %>>
                                                    <i class="fas fa-plus-circle fa-2x p-1 text-success"></i>
                                                </div>
                                            </td>
                                            <td class="price" id=<%= "price" + item.bd_id %>><%= item.f_price + " VNĐ"%></td>
                                            <td class="sum" id=<%= "sum" + item.bd_id %>><%= sum + " VNĐ"%></td>
                                            <td>
                                                <button type="button" class="btn btn-danger">Xóa</button>
                                                <button type="button" class="btn btn-primary">Cập nhật</button>
                                            </td>                                         
                                        </tr>
                                            <% total += sum %>
                                        <% }); %>
                                    </tbody>
                                </table>                              
                                <div class="h5 ml-4 unselect">
                                    <div class="d-inline">Tổng tiền: </div>
                                    <div class="d-inline" id="total"><%= total + " VNĐ"%></div>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <% include components/script %>
    <script src="/static/employee/update.js"></script>
</body>

</html>
